/* chosen font link will go below */
@import url();
body {
  margin: 0;
  /* font family will go below */
  font-family:;
  /* background gradient */
  background-image: linear-gradient(to left, rgb(), rgb());
}